<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Edward Hopper</h1>
    <p>Pintor y grabador estadounidense. Estudió en la School of Art de Nueva York y hasta 1920 se dedicó a la ilustración y al grabado. Es uno de los máximos representantes del realismo estadounidense. Sus obras se caracterizan por la simplicidad geométrica (Domingo por la mañana temprano, 1930) y por el tratamiento de los personajes, paralizados y aislados en el paisaje urbano (Autómata, 1927; Noctámbulos, 1942).</p>
    <img src="/img/hopper.jpg" alt="">
    <a href="home">Volver a pagina principal</a>
</body>
</html>